
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
  }
  header{
    padding: 5%;
  }
   .logo{
    display: block;
    float: left;
   }

   .navigation{
    display: block;
   }
  header nav ul li{
    position: relative;
    float: right;
    margin-right: 0;
  }
  header .logo img{
    float :inherit;
    padding-right: 15px;

  }
  header .logo h1{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
      font-weight: bold;
      float: left;
  }
  header .logo p{
    font-size: 7px;
    color: lightslategray;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;

  }

.logo2 img{
  float: right;
  width: 20px;
}
.logo2 p{
  color: lightslategray;
  font-family: 'Indie Flower', cursive;
}
  hr{
    position: relative;
    background-image: url("https://raw.githubusercontent.com/LTUC/amman-201d14/main/class-10/lab-a/lab-assets/hr-img.png");
    height: 1vw;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer{
    margin-top: -33px;;
  
  }
  footer img{
    margin-left: 50%;
    position: inherit;
    margin-bottom: -19px;  
  }
  footer article{
    text-align: center;
    padding: 20px;
    color: lightslategray;
    margin-top: 0px;
    
  }
  .contianer{
  padding: 5%;
  }
  .imgPizza img{
    width: 100%;
    padding-top: 7vh;
  }
   .imgSpan {
    float: left;
  }
  .list{
    background-image: url("https://raw.githubusercontent.com/LTUC/amman-201d14/main/class-10/lab-a/lab-assets/list-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  } 
  .list form {
  padding: 10%;
  } 
  input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 2%;
    padding: 10px;
    border: initial;
  }
  article{
    position:relative;
    margin-top: 5%;
    margin-bottom: 5%;
    color: lightslategray;
  }
  .rightForm{
    font-family: 'Brush Script MT', cursive;

    position:relative;
    width: 50%;
    display:inline-block;
    padding-left: 5%;
  }
  .leftForm{
    font-family: 'Brush Script MT', cursive;
    position:relative;
    width: 50%;
    padding-left: 5%;
    float:right;
    display:inline-block;
  }
  .post img{
    position: inherit;
    display: inline-block;
  }
#Fhr{
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-top: 4%;
  }
  .post {
    padding-top: 10vh;
    display: block;
  }
  .post img{
    position: inherit;
    display: block;
    float: left;
  }
  .post h1{
    font-size: 40px;
    font-family: fantasy;
    color: rgb(82, 82, 82);
  }
  .post p{
    font-family: initial;
    width: 70%;
    color: rgb(77, 77, 77);
  }
  .post button{
    width: 12vw;
    background-color: rgb(175, 85, 85);
    height: 9vh;
    color: white;
    border: none;
    float: right;
    margin-top: -4%;
    display: block;
  }

  .contianer h1{
    font-size: 40px;
    font-family: fantasy;
  }
#bhr{
  background-image: none;
  height: 2px;
  position: unset;

}



